{% extends 'base.html' %}

{% block title %}title{% endblock %}

{% block content %}

<button onclick="location.href = '{% url 'clients_add' %}'">Добавить клиента</button>
<button onclick="location.href = '#'">Изменить клиента</button>
<button onclick="location.href = '#'">Удалить клиента</button>


<form action= "" method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <p><button type="submit">Отправить</button></p>
</form>
{% endblock %}
