{% extends 'base.html' %}

{% block title %}Список клиентов{% endblock %}

{% block content %}
<div class="button-client-add-cli">
<button onclick="location.href = '{% url 'clients_add' %}'">Добавить клиента</button>

<div class="table-client">
<table border="1" align="center" >
    <thead style="background-color: #53635384;">
        <tr style="text-align: right;">
          <th>Изменить данные клиента</th>
          <th>Номер договора</th>
          <th>Дата заключения договора</th>
          <th>ФИО директора</th>
          <th>Специальнные отметки</th>
          <th>Удалить клиента</th>
        </tr>
    </thead>
    {% for entry in clients_table %}
    <tr>
       <td><a class="table-client-edit" href='{% url 'clients_edit' entry.id %}'>{{entry.client_name}}</a></td>
       <td>{{entry.contract_number}}</td>
       <td>{{entry.contract_date}}</td>
       <td>{{entry.director_name}}</td>
       <td>{{entry.special_marks}}</td>
       <td><a href='{% url 'clients_delete' entry.id %}'>&#128465</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
