{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            {% block header %}
                {% if user.is_authenticated %}
                <div class="button-group">
                    <a href="{% url 'home' %}" class="button-header">
                        <span class="text">Главная</span>
                    </a>

                    <a href="{% url 'clients_home' %}" class="button-header">
                        <span class="text">Список клиентов</span>
                    </a>

                    <a href="{% url 'logistics_home' %}" class="button-header">
                        <span class="text">Логистика</span>
                    </a>
                    {{user.username}} |
                    <a href="{% url 'logout' %}" class="button-header">
                        <span class="text">Выйти</span>
                    </a>
                </div>
                {% else %}
                Войдите или зарегистрируйтесь
                {% endif %}
            {% endblock %}
        </header>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
