{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title placeholder(зачем нам это){% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'voiceconvert/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            {% if user.is_authenticated %}
                <h2>тут должны быть кнопки</h2>
            {% else %}
                <h2>тут что-то должно быть написано или ссылки</h2>
            {% endif %}
        </header>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
