{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}


<div class='columns' id="column1">
    {% comment %} required и option value="" дает возможность сделать обязательным пункт для выбора {% endcomment %}
    <form action="" method="post">
        {% csrf_token %}
        <p><select name="clients" required="required">
         <option value="">Выберите ФИО директора</option>
         {% for entry in clients_table %}
            <option value="{{entry.client_name}}">{{entry.client_name}}</option>
        {% endfor %}
        </select></p>

        <p><input type="submit" value="Отправить"></p>
       </form>
</div>


<div class='columns' id="column2">
    <p>Доставка</p>
</div>

<div class='columns' id="column3">
    <p>Товар</p>
</div>




{% else %}
    <section class="login-signup">

        <form action="{% url 'login' %}" method="get" class="login">
            <button type="submit" class="button button-large">
                <span class="text">Войти</span>
            </button>
        </form>

        <form action="{% url 'signup' %}" method="get" class="signup">
            <button type="submit" class="button button-large">
                <span class="text">Зарегистрироваться</span>
            </button>
        </form>
    </section>
{% endif %}
{% endblock %}
