{% extends 'base.html' %}

{% block title %}VoiceParseHub{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Hi, {{user.username }}!

    <button id="start-recognition">Тут была кнопка'Начать распознавание'</button>
    <div id="result"></div>

    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
    <p>You are not logged in</p>
    <section class="login-signup">

    <form action="{% url 'login' %}" method="get" class="login">
        <button type="submit" class="button button-large">
            <span class="text">Войти</span>
        </button>
    </form>


    <form action="{% url 'signup' %}" method="get" class="signup">
        <button type="submit" class="button button-large">
            <span class="text">Зарегистрироваться</span>
        </button>
    </form>
</section>
{% endif %}
{% endblock %}
