{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% include 'logistics/navbars/auto_edit_navbar.html' %}

<table align="center">
  <thead>
        <tr>
          <th>Город отправления</th>
          <th>Город назначения</th>
          <th>Прайс, руб./тн</th>
        </tr>
    </thead>
    {% for entry in logistics_table %}
    <tr>
       <td>{{ entry.departure_city }}</td>
       <td>{{ entry.destination_city }}</td>
       <td>{{ entry.cost_per_tonn_auto }}</td>
    </tr>
    {% endfor %}


{% endblock %}
