body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #FFC107;
    color: #333;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    color: #333;
}

button {
    background-color: #FFC107;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FFD54F;
}

#result {
    margin-top: 10px;
    font-weight: bold;
    color: #FFC107;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #777;
}

a, section p a {
    color: #FFC107;
}

a:hover, section p a:hover {
    text-decoration: underline;
    color: #FFD54F;
}

.login-signup {
    text-align: center;
    margin-top: 20px;
}

.login-signup .login,
.login-signup .signup {
    display: inline-block;
    margin: 0 10px;
}

.login-signup a {
    color: #333;
    font-size: 18px;
    margin: 0 10px;
}

.login-signup a:hover {
    text-decoration: underline;
    color: #555;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h3,
.container p {
    margin-bottom: 15px;
}

.user-section {
    text-align: center;
}

.recognition-section {
    text-align: center;
    margin-top: 20px; /* Добавим небольшой отступ для разделения секций */
}
